# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf

# API guardian patch must always use LF for tests to work
*.patch eol=lf

# Image files must always use binary for tools to work
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
