# VERSION FILE 1.0.0

# node_modules directory
node_modules

# vscode directory
.vscode/

# development directory
development/

# notes directory
notes/

# docs files
docs/GITHUB.md

# husky files
.husky
.huskyrc

# git files
.gitattributes
.gitignore
COMMIT_EDITMSG

# eslint files
.eslintignore
.eslintrc
.eslintrc.*

# prettier files
.prettierignore
.prettierrc
.prettierrc.json

.babelrc
.editorconfig
.lintstagedrc

ava.config.*
.stylelintrc
commitlint.config.js
gulpfile.js
jest.config.*
jsdoc.json

nodemon.json
package-lock.json
yarn.lock
yarn-error.log
